---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout>
  <PageHead slot="head" title="Home" />
  <section>
    <!-- <div class="border-b pb-5">
      <div class="pt-0">
        <p class="text-muted-foreground mb-2 text-sm">
          프론트엔드 개발자 ari의 기술 기록 공간입니다.
          <br />
          <Link
            href="https://ko.react.dev/"
            class="text-foreground"
            external
            underline>React</Link
          >,
          <Link
            href="https://nextjs.org/"
            class="text-foreground"
            external
            underline>Next.js</Link
          >, <Link
            href="https://www.typescriptlang.org/"
            class="text-foreground"
            external
            underline>TypeScript</Link
          >. 를 중심으로 개발하면서 배우고 느낀 것들을 정리합니다.
        </p>
        <p class="text-muted-foreground text-sm">
          개선, 협업, 사용자 경험 에 관심이 많고, 조금씩 성장하는 과정을
          기록하고 있어요.
        </p>

      </div>
    </div> -->
    <blockquote
      class="text-muted-foreground p-3 text-right text-[15px] leading-6"
    >
      <p>지성은 가능한 것과 불가능한 것을 구분한다.</p><p>
        이성은 의미 있는 것과 의미 없는 것을 구분한다.
      </p>
      <p>가능한 것 조차도 의미가 없을 수 있다.</p>
      <span class="text-[12px]">- 막스 본(Max Born)</span>
    </blockquote>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
